* {
  margin: 0;
  padding: 0;
}

.nav-bar {
  height: 60px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 60px);
}

.center > * {
  position: relative;
  border-radius: 10px;
}

.center > *::before {
  content: "";
  position: absolute;
  inset: -4px;

  background: conic-gradient(from var(--a), red, yellow, red);

  border-radius: inherit;
  padding: 4px;

  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;

  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;

  animation: spin 3s linear infinite;
  pointer-events: none;
}

@property --a {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@keyframes spin {
  to {
    --a: 360deg;
  }
}
