@import "tailwindcss";
@theme {
  --color-mint-500: oklch(0.72 0.11 178);

  --color-primary-300: #ff5622;
  --color-secondary-300: #2197f5;
  --color-custom-light: #e3f3fd;
  --color-custom-semiLight: #2196f3;
  --color-custom-mediumLight: #01579b;

  --font-poppins: Poppins, sans-serif;

  --breakpoint-large-desktop: 120rem;
  --breakpoint-desktop: 1024px;
  --breakpoint-tablet: 640px;
}

@layer components {
  .card {
    background-color: var(--color-white);
    border-radius: var(--radius-lg);
    padding: --spacing(6);
    box-shadow: var(--shadow-xl);
  }
}
